<% if @flat.picture.nil? %>
  <img class="background-image" src="https://images.unsplash.com/photo-1516546453174-5e1098a4b4af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2564&q=80" alt="">
<% else %>
  <img class="background-image" src="<%= @flat.picture %>" alt="">
<% end %>
<div class="container d-flex flat-infos">
  <div class="flat-details col-8">
    <div class="card bg-light m-3 p-3">
      <h3><%= @flat.name %></h3>
      <p><%= @flat.address %></p>
    </div>
    <div class="card bg-light m-3 p-3">
      <h4>A bit more about this flat...</h4>
      <p><%= @flat.description %></p>
    </div>
    <div class="card bg-light m-3 p-3">
      <h4>Details</h4>
      <div class="d-flex">
        <p class="card-text me-2"><i class="fa-solid fa-user-group"></i> <%= @flat.number_of_guests %></p>
        <p class="card-text"><i class="fa-solid fa-euro-sign"></i> <%= @flat.price_per_night %></p>
      </div>
    </div>
    <%= link_to "Edit this flat", edit_flat_path(@flat), class:'btn btn-primary m-3' %>
    <%= link_to "Delete this flat", flat_path(@flat), method: :delete, data: {confirm: "Delete #{@flat.name}?"}, class:'btn btn-outline-danger' %>
  </div>
  <div>
    <div class="booking card m-3 bg-light p-3">
      <h6>Book this place!</h6>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">From:</span>
        </div>
        <input type="date" class="form-control" aria-label="From" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">To:</span>
        </div>
        <input type="date" class="form-control" aria-label="To" aria-describedby="basic-addon1">
      </div>
      <p class="btn btn-success">Book</p>
    </div>
    <div class="card m-3 bg-light p-3 d-flex flex-row align-items-center justify-content-between">
      <p class="m-0">Share</p>
      <div class="icons">
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-square-twitter"></i>
        <i class="fa-brands fa-square-pinterest"></i>
        <i class="fa-solid fa-square-envelope"></i>
      </div>
    </div>
  </div>
</div>
